.home-main{
    display: flex;
  
    padding: 30px;
  gap: 10px;

  /* padding: 10px; */
  



}
.home-left{
    display: flex;
    flex-direction: column;
   gap: 10px;

}
hr.hr-1{
    
    width: 170px;
  
    border: 1.5px solid var(--blue);
    border-radius: 10px;

   
}

.home-left>a>button{
    width: 120px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    background: var(--blue);


    transition: 0.3s ease-in-out;

}
.home-left>a>button:hover{
    background: rgb(74, 118, 229);

}
.home-left>p{
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
    line-height: 20px;
}
.home-left>h1{
    font-size: 50px;
    color:var(--blue);

}


.home-right>img{

   object-fit: cover;
    width: 300px;
    height: 350px;
    border: 10px solid  rgb(248, 245, 245);
    border-radius: 5px;
    box-shadow: 3px 3px 3px  rgb(146, 146, 146);
  
}

@media (max-width: 800px) {
    .home-main {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
     
    }
  
    .home-left, .home-right {
      width: 100%;
      
    }
  
    .home-left {
      order: 2;
    }
  
    .home-right {
      order: 1;
     
      
      
   
    }
  
  
    button {
      font-size: 12px;
      padding: 13px;
      width: 100%;
     
    }
    .home-left>h1{
      font-size: 20px;
      color:var(--blue);
  
  }
  .home-left>h3{
    font-size: 16px;
    

}
.home-left>p{
  font-size: 14px;
  

}
  
    .hr-1 {
      
      width: 100%;
    }
  }