.div1{
    border: 1px solid gray;
    height: 300px;
    padding: 20px;
    display: flex;
  
    flex-direction: column;
    gap: 14px;
    width: 40%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px  rgb(146, 146, 146);
}

.experience-main>h1{
    text-align: center;
}
.experience-main{
    gap: 2rem;
    display: flex;
  
    align-items: center;
    padding: 30px;
 
    background-color:  rgb(224, 238, 254);
}

.main-content{
   
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
}


@media (max-width: 800px) {

    .experience-main{
        flex-direction: column;
    }
    .main-content{
        display: flex;
        flex-direction: column;
       
    }
    .div1{
        width: 84%;
    }
  h1{
    font-size: 20px;
  }
 .main-content>.div1>h1{
    font-size: 18px;
 }
 .main-content>.div1>h2{
    font-size: 16px;
 }
 .main-content>.div1>p{
    font-size: 14px;
 }

}